* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}


.navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
}

.navbar h1 {
    margin: 0;
    font-size: 1.8em; 
}

.navbar ul {
    display: flex; 
    list-style: none; 
    gap: 15px; 
    margin: 0;
    padding: 0;
}

.navbar a{
    text-decoration: none; 
    padding: 10px 15px; 
    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}

.navbar .btn:hover {
    background: #6D9DC5;
}

.btn {
    background: #6D9DC5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover {
    background: #6D9DC5;
}
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.hero-content h2 {
    font-size: 65px;
}
.hero-buttons {
    margin-top: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: center; 
    gap: 40px;
    padding: 150px;
}


.cardTracking {
    width: 150px;
    height: auto;
    background-color: white;
    padding: 10px;
    background-size: auto;
    border-radius: 15px;
    text-align: left;
}
.tracking card-content h3 {
    font-size: 14px;
    margin: 0;
    font: normal 400 14px/1.5 "Montserrat", sans-serif;

}
.card-content p {
    font-size: 20px;
    margin: 0;
    font: normal 400 14px/1.5 "Montserrat", sans-serif;
}


.tracking {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.testimonials {
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: center; 
    gap: 40px;
    padding: 100px;
    flex-wrap: wrap;
}

.testimonial {
    font: normal 400 14px/1.5 "Montserrat", sans-serif;
    text-align: left;
    max-width: 30%;
    background-color: white;
    padding: 10px;
    background-size: auto;
    border-radius: 10px;
}

.main-container-pages {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin: 2rem;
    gap: 2rem;
    transition: all 1s ease-in-out, opacity 0.5s ease-in-out, height 0ms;
}

.sidebar a:hover {
    background-color: #f1f1f1;
    animation: spin 0.5s linear;
}

.sidebar a.active {
    background-color: #555;
    color: #fff;
}

ul li
{
    list-style-type: none;
}

.sidebar {
    font: normal 400 14px/1.5 "Montserrat", sans-serif;
    text-decoration: none;
    position: sticky;
    top: 1rem;
    width: 220px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: fit-content;;
}

.sidebar a {
    text-decoration: none; 
    color: #333; 
    display: block;
    padding: 10px;
    border-radius: 5px;
} 

.content {
    font: normal 400 14px/1.5 "Montserrat", sans-serif;
    flex: 1;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-width: 0;
    transition: opacity 0.5s ease-in-out;
}
.content h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    transition: opacity 0.5s ease-in-out;
}

footer {
    position:static;
    text-align: center;
    padding: 20px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer-links {
    display: flex; 
    justify-content: space-around;
    background-color: white;  
    align-items: center; 
    text-decoration: none;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}
h2{
    text-align: center;
}

@media (min-width: 740px) {
    .section {
        flex-direction:row-reverse;
        justify-content: center;
    }
    .main-container-pages {
        flex-direction: row;
    }

    .sidebar {
        position: static;
    }
}

@keyframes spin{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}

