* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}


.navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
}

.navbar h1 {
    margin: 0;
    font-size: 1.8em; 
}

.navbar ul {
    display: flex; 
    list-style: none; 
    gap: 15px; 
    margin: 0;
    padding: 0;
}

.navbar a{
    text-decoration: none; 
    padding: 10px 15px; 
    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}

.navbar .btn:hover {
    background: #6D9DC5;
}

.btn {
    background: #6D9DC5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover {
    background: #6D9DC5;
}
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.hero-content h2 {
    font-size: 65px;
}
.hero-buttons {
    margin-top: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: center; 
    gap: 40px;
    padding: 150px;
}
.tracking {
    text-align: center;
    padding: 50px;
}
.testimonials {
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: center; 
    gap: 40px;
    padding: 100px;
    flex-wrap: wrap;
}

.testimonial {
    text-align: left;
    max-width: 30%;
    background-color: white;
    padding: 10px;
    background-size: auto;
    border-radius: 10px;
}

footer {
    position:static;
    text-align: center;
    padding: 20px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer-links {
    display: flex; 
    justify-content: space-around;
    background-color: white;  
    align-items: center; 
    text-decoration: none;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}
h2{
    text-align: center;
}

@media (max-width: 600px) {
    .section {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

