body {
    font-family: 'Papyrus', 'Chalkduster', cursive, sans-serif;
    margin: 0;
    /* Padding of 10px ensures consistent spacing around the content for better readability and layout balance. */
    padding: 10px;
    animation: rainbow 5s infinite;
    box-sizing: border-box;
}

header {
    background-color: rgb(24, 247, 24);
    color: yellow;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 10px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 20px;
    padding: 30px;
}
table {
    width: 70%;
    border-collapse: collapse;
    border: dotted 5px lightcoral;
    margin: 20px auto;

}
img {
    border: 2px solid black;
    display: block;
    margin: 0 auto; 
    width: 50%;
  height: auto;
  }
  
.box {
    flex-grow: 1;
    flex-basis: 20px;
    text-align: center;
    margin: 5px;
    padding: 15px;
    border: 5px double orange;
}

.float-box {
    float: left;
    width: 100px;
    height: 100px;
    background: rgb(255, 0, 195);
    margin: 10px;
    position: sticky;
    left: 50%;
    top: 50%;
    bottom: 15%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: 5px dotted lightcoral;
    background: black;
    color: white;
    padding: 10px;
}

@media (max-width: 600px) {
    body {
        animation: rainbow 5s infinite;
    }

    .section {
        flex-direction: column-reverse;
        justify-content: center;
    }
}


@keyframes rainbow {
    0% { background-color: red; }
    10% { background-color:orange; }
    20% { background-color: yellow; }
    35% { background-color:green; }
    50% { background-color:lime; }
    60% { background-color:aqua; }
    70% { background-color:blue; }
    90% { background-color:darkorchid; }
    100% { background-color:palevioletred; }

}

.rainbow-bg {
.rainbow-container-bg {
    animation: rainbow 5s infinite;
}
}