* {
    box-sizing: border-box;
}
body {
    font-family: 'Papyrus', 'Chalkduster', cursive, sans-serif;
    margin: 0;
    padding: 10px;
    animation: rainbow 5s infinite;
    box-sizing: border-box;
}
.title-section {
    background-image: url('planets.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-size: cover;
}
header {
    background-color: rgb(24, 247, 24);
    color: yellow;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 10px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 20px;
    padding: 30px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 30px;
    justify-content: space-between;
    align-items: flex-start;
}
.divs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    font-size: small;
    width: 40%; 
}

.text-div {
    width: 55%; 
    font: optional;
}
.container h2{
    text-shadow: #FFFF00 1px 1px 2px;
}
.div1{
    border: #333 solid 5px;
    background: #bbb;

}
.div2{
    border: #333 solid 5px;
    background: #bbb;

}
.div3{
    border: #333 solid 5px;
    background: #bbb;

}
.div4{
    border: #333 solid 5px;
    background: #bbb;

}
.div5{
    border: #333 solid 5px;
    background: #bbb;

}

table {
    width: 490px;
    height: 490px;
    margin: 0 auto;
    border-collapse: collapse;
    border: dotted 5px lightcoral;
}
img {
    border: 2px solid black;
    display: block;
    margin: 0 auto; 
    width: 50%;
  height: auto;
  }
  
.box {
    flex-grow: 1;
    flex-basis: 20px;
    text-align: center;
    margin: 5px;
    padding: 15px;
    border: 5px double orange;
}

.float-box {
    float: left;
    width: 100px;
    height: 100px;
    background: rgb(255, 0, 195);
    margin: 10px;
    position: sticky;
    left: 50%;
    top: 50%;
    bottom: 15%;
}
.floating-btn {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-shadow: #5eff00 1px 1px 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    animation: floatAround 10s linear infinite;
}

.table {
    border-collapse: collapse;
    margin: 0 auto;
    }

.table th, table td {
    border: 1px solid #000; 
    padding: 8px; 
    text-align: center; 
}
.cell-red {
    background-color: red; 
    color: white; 
}
.cell-blue {
    background-color: blue; 
    color: white;
}
.cell-yellow-near-red {
    background-color: #FFCC00;
    color: black; 
}
.cell-yellow-near-blue {
    background-color: #FFFF00; 
    color: black; 
}
.text-image {
    display: block;
    width: 65%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: 5px dotted lightcoral;
    background: black;
    color: white;
    padding: 10px;
}

@media (min-width: 740px) {
    body {
        animation: rainbow 5s infinite;
    }

    .section {
        flex-direction: column-reverse;
        justify-content: center;
    }
}


@keyframes rainbow {
    0% { background-color: red; }
    10% { background-color:orange; }
    20% { background-color: yellow; }
    35% { background-color:green; }
    50% { background-color:lime; }
    60% { background-color:aqua; }
    70% { background-color:blue; }
    90% { background-color:darkorchid; }
    100% { background-color:palevioletred; }

}


@keyframes floatAround {
    0% {
        top: 10%;
        left: 0%;
    }
    25% {
        top: 10%;
        left: 80%;
    }
    50% {
        top: 80%;
        left: 80%;
    }
    75% {
        top: 80%;
        left: 10%;
    }
    100% {
        top: 10%;
        left: 0%;
    }
}

.rainbow-bg {
.rainbow-container-bg {
    animation: rainbow 5s infinite;
}
}